*{
    padding: 0;
    margin: 2px;
    box-sizing: border-box;
}
body{
    background-image: url();
    background-size: cover;
    background-position:center ;
    font-family: Rubik;
}
.menu-bar{
  background-color: rgb(0, 100, 0);
  text-align: center;
  height: 100px;
  align-items: center;
  align-content: center;
  align-self: center;
}
.menu-bar ul{
  display: inline-flex;
  list-style: none;
  color: white;
}
.menu-bar ul li{
  width: 100px;
  margin: 10px;
  padding: 15px;
}
.menu-bar ul li a{
  text-decoration: none;
  color: rgb(230, 161, 33);
}
.active, .menu-bar ul li:hover{
background: #2bab0d;
border-radius: 3px;
}
.input-box .icon{
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #fff;
  line-height: 57px;
  transition: .5s;
}
.sub-menu-1{
  display: none;
}
.sub-menu-1 ul li a{
  color: #fff;
}
.menu-bar ul li:hover .sub-menu-1{
  display: block;
  position: absolute;
  background:blue;
  margin-top: 15px;
  margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
  display: block;
  margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
  width: 100px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}
.nav1{
background-color: blue;
color: whitesmoke;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
  border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
  color:blue;
  background-color: red;
}
@media only screen and (max-width:480px){
.menu-bar{
  font-size: 0.9em;
  padding: 0;
  margin: 0;
}
.sub-menu-1{
  font-size: 0.3em;
  padding: 0;
  margin: 0;
}
.menu-bar ul li{
  width: 35px;
  font-size: 0.7em;
  padding: 0;
  margin: o;
}
.menu-bar ul{
  font-size: 0.9em;
  padding: 0;
  margin: 0;
}
.menu-bar ul li a{
font-size: 0.9em;
padding: 0;
margin: 0;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
  font-size: 0.3em;
  padding: 0;
  margin: 0;
}
}
.fix{
  position: fixed;
  width: 100%;
}
h1{
  background-color: blue;
  color: whitesmoke; 
  padding: 10px; 
  margin: 5px;
  border: 5px solid red;
  text-transform: uppercase;
  border-radius: 2px;
  margin-top: 100px
}
h2{
    background-color:;
    color: blue; 
    padding: 10px; 
    margin: 5px;
    border: 3px;
    text-transform: uppercase;
    border-radius: 8px;
  }
  b{
    color: blue;
  }
  b:hover{
    color: red;
  }
